.MuiDialog-paper {
  height: 85% !important;
  width: 60% !important;
  border-radius: 0px;
  box-shadow: none !important;
  max-height: 100% !important;
  max-width: 100% !important;
  overflow: hidden !important;
}
